{% extends "music_world/skeleton.html" %}

{% block title %}
    Playlists
{% endblock %}

{% block script %}
{% endblock script %}

{% block content %}
    <div class="container-fluid" style="height:100%; width:100%">
        {% for d in data.images%}
            {% if d.width == 640 %}
                <img src="{{d.url}}" class="img-fluid" alt="Responsive image" style="height:45%;">
            {%endif%}
        {%endfor%}
        <br>
        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Duration</th>
                <th scope="col">Preview</th>
                <th scope="col">Audio Analysis</th>
            </tr>
            </thead>
            <tbody>
            {% for d in data.tracks.items%}
                <tr>
                <td>{{d.name}}</td>
                <td>{{d.duration_ms}}</td>
                <td>
                  <audio controls>
                    <source src="{{d.preview_url}}" type="audio/ogg">
                    <source src="{{d.preview_url}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
                </td>
                <td>
                    <a href="/audio/{{d.id}}" target="_blank">
                        <span class="glyphicon glyphicon-equalizer"></span>
                    </a>
                </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock content %}