{% extends "music_world/skeleton.html" %}

{% block title %}
    Search Artists
{% endblock %}

{% block script %}
{% endblock script %}

{% block content %}
<h2>{{message}}</h2>
<div class="container-fluid">
    <div class="row"> 
        {%for d in data%}
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" >
                    {% for s in d.images%}
                        {% if s.width == 640 %}
                            <img src="{{s.url}}" class="card-img-top" alt="">
                        {% endif %}
                    {%endfor%}
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">{{d.name}}</h5>
                        <p class="card-text">Followed by {{d.followers.total}} people</p>
                        <a href="/artist/{{d.id}}" class="btn btn-info btn-block">Top Tracks</a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock content %}